<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>

    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
</body>
</html>
