<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>

    <div class="alert alert-error">
        Your user is not verified yet by the admin. Please login later.
    </div>
</body>
</html>
