@using Microsoft.AspNet.Identity
@using Issue_Register.Models
@if (Request.IsAuthenticated)
{


    ApplicationDbContext db = new ApplicationDbContext();
    var userName = User.Identity.GetUserName();

    bool has = db.Employees.Any(x => x.Email == userName);
    string name = "";
    if (has)
    {
        name = db.Employees.Where(x => x.Email == userName).Select(x => x.Name).FirstOrDefault();
    }
    else
    {
        has = db.Vendors.Any(x => x.Email == userName);
        if (has)
        {
            name = db.Vendors.Where(x => x.Email == userName).Select(x => x.Name).FirstOrDefault();
        }
        else
        {
            name = "Admin";
        }
    }



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello   " + name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
