
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b><h2>Congratulations!!!</h2></b>

<h3>We have received your request. Admin will verify soon then you will be notified.</h3>

<h3> Thank you :)</h3>



